{% extends 'gym/base.html' %}
{% load static %}
{% block content %}
<!--<h1>Performance Statistics</h1>-->
<!--<p>Average clients age: {{average_client_age}}</p>-->
<!--<p>Most expensive lesson: {{most_expensive_lesson.get_subject_name}}</p>-->
<!--<p>The cheapest lesson: {{the_cheapest_lesson.get_subject_name}}</p>-->
<!--<p>The most popular lesson: {{most_popular_subject}} with {{max_students_count}} students</p>-->
<!--<p>The most profitable subject: {{most_profitable_subject}} with {{max_weekly_profit}} $ in a week</p>-->
<style>
 .chart {
        width: 500px;
        height: 220px;
        border: 1px solid #ccc;
        position: relative;
    }

    .bar {
        width: 20px;
        background-color: #3498db;
        position: absolute;
        bottom: 0;
    }

    /* Добавляем ось Y */
    .y-axis {
        width: 1px; /* Толщина оси Y */
        height: 100%;
        background-color: #ccc;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    /* Настройте стили для меток на осях */
    .axis-label {
        font-size: 12px;
        position: absolute;
    }
    .x-axis-label {
        bottom: -15px; /* Отступ от оси X */
        left: 0;
        white-space: nowrap; /* Запрещаем перенос текста */
    }

    .y-axis-label {
        bottom: 0; /* Убираем отступ сверху */
        left: -15px; /* Отступ от оси Y */
    }
    .bar {
        width: 20px;
        background-color: #3498db;
        position: absolute;
        bottom: 0;
    }

    .bar:nth-child(1) {
        left: 30px;
    }

    .bar:nth-child(2) {
            left: 130px;
    }
    .bar:nth-child(3) {
            left: 230px;
    }
    .bar:nth-child(4) {
            left: 330px;
    }
    .bar:nth-child(5) {
            left: 430px;
    }
.trainers-list {
    display: flex; /* Включаем Flexbox */
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку при нехватке места */
    justify-content: space-between; /* Распределяет элементы между краями контейнера с равным пространством между ними */
}
.trainer {
  flex: 0 0 calc(33.33% - 20px); /* Распределяет элементы на 33.33% ширины контейнера (с учетом 20px отступа между элементами) */
  padding: 10px; /* Добавляет отступы вокруг каждого сотрудника */
  border: 1px solid #ccc; /* Добавляет рамку вокруг каждого сотрудника */
  margin-bottom: 20px; /* Добавляет расстояние между сотрудниками внизу */
  box-sizing: border-box; /* Учитывает границы в расчете ширины элемента */
  text-align: center; /* Выравнивание содержимого по центру */
  background-color: #DDE485;
}

.trainer img {
  max-width: 100%; /* Размер изображения в пределах родительского контейнера */
  height: auto;
}

/* Дополнительные стили, которые можно настроить по вашему усмотрению */
.trainer b {
  font-weight: bold;
}

.statistics-table {
  margin-left:40px;
  width: 900px;
  border-collapse: collapse;
  margin-top: 20px;
}
.statistics-table th,
.statistics-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size:25px;
}
.statistics-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
.statistics-table caption{
color: #4E0A58;
font-size: 40px;
}
a{
cursor: pointer;
}
.timer {
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    align-items: center;
}

#countdown {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background-color: #EB8EC9;
    padding: 15px;
    border-radius: 8px;
}

#reset-timer-btn {
    background-color: #4285f4;
    color: #fff;
    padding: 10px 20px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset-timer-btn:hover {
    background-color: #3367d6;
}
</style>
<b>Круглая диаграмма без JavaScript</b>
<div class="chart">
    {% for key, value in statistics_dict.items %}
        <div class="bar x-axis-label" style="height:{{value}}px;">{{key}}</div>
    {% endfor %}
     <!-- Ось Y с количеством человек -->
   <div class="y-axis-label">100</div> <!-- Максимальное значение по оси Y -->
    <div class="y-axis-label" style="bottom: 50px;">90</div> <!-- Замените 50 на ваше минимальное значение Y -->
    <div class="y-axis-label" style="bottom: 50px;">80</div>
    <div class="y-axis-label" style="bottom: 50px;">70</div> <!-- Минимальное значение по оси Y -->
<div class="y-axis-label" style="bottom: 50px;">60</div>
    <div class="y-axis-label" style="bottom: 50px;">50</div>
    <div class="y-axis-label" style="bottom: 50px;">40</div>
    <div class="y-axis-label" style="bottom: 50px;">30</div>
    <div class="y-axis-label" style="bottom: 50px;">20</div>
    <div class="y-axis-label" style="bottom: 50px;">10</div>
<div class="y-axis-label" style="bottom: 50px;">5</div>
</div>
<table class="statistics-table">
    <caption><h3><b>Performance Statistics</b></h3></caption>
    <colgroup>
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
    </colgroup>
    <tr>
        <th>Average clients age:</th>
        <th>Most expensive lesson:</th>
        <th>The cheapest lesson:</th>
        <th>The most popular lesson:</th>
        <th>The most profitable subject:</th>
    </tr>
    <tr>
        <td>{{average_client_age}}</td>
        <td>{{most_expensive_lesson.get_subject_name}}</td>
        <td>{{the_cheapest_lesson.get_subject_name}}</td>
        <td>{{most_popular_subject}} with {{max_students_count}} students</td>
        <td>{{most_profitable_subject}} with {{max_weekly_profit}} $ in a week</td>
    </tr>
</table>
<script src="{% static 'gym/js/8count_down.js' %}" defer></script>
<div class="timer">
    <div id="countdown"></div>
    <button id="reset-timer-btn">Reset</button>
</div>
<ul>
<li><a href="{% url 'lesson_list' %}">Список Занятий</a></li>
<li><a href="{% url 'master_list' %}">Список Тренеров</a></li>
<li><a href="{% url 'card_list' %}">Виды клубных карт</a></li>
<li><a href="{% url 'article_list' %}">Интересные статьи</a></li>
<li><a href="{% url 'explanation_dictionary_page' %}">Список часто задаваемых вопросов</a></li>
<li><a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a></li>
<li><a href="{% url 'vacancies' %}">Список Вакансий</a></li>
<li><a href="{% url 'review_list' %}">Список Отзывов</a></li>
<li><a href="{% url 'review_form' %}">Оставить Отзыв</a></li>
    <li><a href="{% url 'test_page' %}">Test Page</a></li>
    <li><a href="{% url 'rotating_banners' %}">2Рекламные баннеры</a></li>
    <li><a href="{% url 'scrolling_animation' %}">3Анимация скролинга</a></li>
    <li><a href="{% url 'volume_effect' %}">4Эффект Объёма</a></li>
        <li><a href="{% url 'wonder_table' %}">9Table</a></li>
    <li><a href="{% url 'prototype_example' %}">10PrototypeExample</a></li>
    <li><a href="{% url 'extends_example' %}">10ExtendsExample</a></li>
    <li><a href="{% url 'array' %}">11Array</a></li>
</ul>
<!--<li><a href="{% url 'api_test' %}">ApiTest</a></li>-->
{% if mastername %}
<b>Only for master:</b>
<ul>
<li><a href="{% url 'clients' %}">Список всех клиентов</a></li>
<li><a href="{% url 'master_lessons' username=mastername %}">Список Занятий для тренера {{mastername}}</a></li>
<li><a href="{% url 'master_students' username=mastername %}">Список индивидуальных учеников для {{mastername}}</a></li>
<li><a href="{% url 'groups' %}">Список всех групп</a></li>
</ul>
{% endif %}
<h1>Trainers List</h1>
<div class="trainers-list">
  {% for master in masters %}
    <article class="trainer">
      <b>Name: {{ master.username }}</b><br>
      <b>Subject: {{ master.get_subject_name }}</b><br>
      <b>Email: {{ master.email }}</b><br>
      {% if master.photo %}
        <p><img src="{{ master.photo.url }}" alt="{{ master.username }}"></p>
      {% endif %}
    </article>
  {% endfor %}
</div>
<h1>Ask a question</h1>
    <form method="post" action="{% url 'submit_question' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Question</button>
    </form>
{% endblock %}