{% extends 'gym/base.html' %}
{% block content %}
    <style>
    .trainers-list {
  display: flex; /* Включаем Flexbox */
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку при нехватке места */
  justify-content: space-between; /* Распределяет элементы между краями контейнера с равным пространством между ними */
}

.trainer {
  flex: 0 0 calc(33.33% - 20px); /* Распределяет элементы на 33.33% ширины контейнера (с учетом 20px отступа между элементами) */
  padding: 10px; /* Добавляет отступы вокруг каждого сотрудника */
  border: 1px solid #ccc; /* Добавляет рамку вокруг каждого сотрудника */
  margin-bottom: 20px; /* Добавляет расстояние между сотрудниками внизу */
  box-sizing: border-box; /* Учитывает границы в расчете ширины элемента */
  text-align: center; /* Выравнивание содержимого по центру */
  background-color: #DDE485;
}

.trainer img {
  max-width: 100%; /* Размер изображения в пределах родительского контейнера */
  height: auto;
}

/* Дополнительные стили, которые можно настроить по вашему усмотрению */
.trainer b {
  font-weight: bold;
}

</style>
</head>
<body>
<!--<h1>MasterDetails</h1>
<table>
    <tr>
        <th>master_name</th>
        <th>subject_name</th>
        <th>email</th>
    </tr>
    {% for master in masters %}
    <tr>
        <td>{{master.username}}</td>
        <td>{{master.subject_name}}</td>
        <td>{{master.email}}</td>
    </tr>
    {% endfor %}
</table>-->
<h1>Trainers List</h1>
<div class="trainers-list">
  {% for master in masters %}
    <article class="trainer">
      <b>Name: {{ master.username }}</b><br>
      <b>Subject: {{ master.get_subject_name }}</b><br>
      <b>Email: {{ master.email }}</b><br>
      {% if master.photo %}
        <p><img src="{{ master.photo.url }}" alt="{{ master.username }}"></p>
      {% endif %}
    </article>
  {% endfor %}
</div>
</body>
{% endblock %}