{% extends 'gym/base.html' %}
{% load static %}
{% block content %}
<div class="container">
        <header><h2 align="center">About Company</h2></header>
    <p><img src="/media/photos/logo/logo.jpeg" alt="Company Logo" style="width: 100px; height: 100px;">
        Мы являемся лидерами в области чего-то там и предоставляем высококачественные услуги/продукты для наших клиентов. Наша миссия - удовлетворять потребности наших клиентов и превосходить их ожидания.</p>

        <h2 align="center">Наши услуги:</h2>
        <ul>
            <li>Плавание</li>
            <li>Йога</li>
            <li>Карате</li>
            <li>Дзюдо</li>
            <li>Танцы</li>
            <li>Тренажёрный зал</li>
            <li>Гимнастика</li>
        </ul>
        <h2 align="center">Наши преимущества</h2>
        <ul>
           <li>Опытные специалисты высшего класса</li>
           <li>Качественное оборудование</li>
            <li>Адекватная цена</li>
            <li>Скидочные акции</li>
            <li>Расположение в центре города</li>
        </ul>
    <div>
    <h2 align="center">Видео обзор</h2>
    <video width="1024" height="768" preload controls muted>
        <source src="{% static 'video/ko.mp4' %}" type="video/mp4" />
    </video>
    </div>
    <div>
    <h2>Запись голоса отца-основателя</h2>
        <audio controls>
            <source src="{% static 'audio/ko.mp3' %}"/>
        </audio>
    </div>
<!--  <embed-->
<!--    src="{% static 'video/ko.mp4' %}"-->
<!--    type="application/x-shockwave-flash"-->
<!--    width="560" height="349"-->
<!--    allowfullscreen="true">-->


    <h2 align="center">Наша история</h2>
    <dl>
        <dt>Начало</dt>
    <dd><b><i>Наш спортзал был основан в 1993 году, когда вогруг царили нищета и беспредел,
        и чтобы направить энергию молодых людей в правильное направление<wbr> нашей командой был открыт легендарный фитнес центр,<wbr>
    породивший большое количество мастеров спорта<wbr> и чемпионов мира.<wbr> Нашими первыми тренерами были накаченные бандиты, крышевавшие городские рынки
    </i></b>
    </dd>
        <dt>На заре 2000:</dt>
        <dd>
            <b><i>
                Наши акционеры активно участвовали в приватизации, и им удалось получить в собственность 20
                крупных сданий по всей России,<wbr> в которых открывались наши филиалы.
            </i></b>
        </dd>
        <dt>История 2010-2020:</dt>
        <dd>
            <b><i>
                Мы начали открывать филиалы в западной Европе
            </i></b>
        </dd>
        <dt>Наше время:</dt>
        <dd>
            <b><i>
            Мы продолжаем распространяться по всему миру
            </i></b>
        </dd>
    </dl>
    <div>
    <h2>Цитаты великих людей о нас</h2>
        <ol>
            <li>
    <blockquote>
    <q>Если бы не Legendary Gym я бы был никем</q><br>
    <cite><i>Arnold Schwarzenegger</i></cite>
    </blockquote>
            </li>
            <li>
    <blockquote>
    <q>На ринге Legendary Gym мне впревые сломали нос</q><br>
    <cite><i>Dolph Lundgren</i></cite>
    </blockquote>
            </li>
            <li>
    <blockquote>
    <q>Здесь меня научили плавать</q><br>
    <cite><i>Michael Phelps</i></cite>
    </blockquote>
            </li>
        </ol>
    </div>
    <h3>Банковские реквизиты</h3>
    <p>БеларусьБанк: 5470 8740 4198 5944</p>
    <p>Bitcoin Wallet: if2jf02po3f3pok</p>
    <br><br>
    <div class="certificate" align="center">
        <h3>Единый Реестр Фитнесс-клубов</h3>
        <h2>Сертификат</h2>
        <p>
            Настоящим удостоверяется, что данный фитнесс-клуб является лучшим
        </p>
        <h2>Имя Получателя</h2>
        <p>
            успешно завершил(а) обучение и получил(а) сертификат за участие в курсе "Название Курса".
        </p>
        <div class="signature">
            <p>______________________________</p>
            <p>Подпись</p>
            <p>Дата: 1 сентября 2023 года</p>
        </div>
    </div>
    </div>
{% endblock %}