{% extends 'gym/base.html' %}
{% block content %}
<h1 align="center">Questions:</h1>
<hr>
{% for question in question_list %}
    {% if question.answer %}
<b>Name: </b><span> {{question.name}}</span>
<br>
<b>Email: </b><span>{{question.email}}</span>
<br>
<b>Time: </b><span>{{question.timestamp}}</span>
<br>
<!--<b>Question: </b><span>{{question.question}}</span>-->
<!--<br>-->
<!--<b>Answer:</b><span>{{question.answer}}</span>-->
<details>
    <summary><b>Question: </b><span>{{question.question}}</span></summary>
    <b>Answer:</b><span>{{question.answer}}</span>
</details>
<hr>
    {% endif %}
{% endfor %}
{% endblock%}