{% extends 'gym/base.html' %}
{% load static %}
{% block content %}
<style>
    h1 {
  text-align: center;
  color: #FF6600; /* Оранжевый цвет, соответствующий спортивной тематике */
  margin-bottom: 20px; /* Расстояние между заголовком и содержимым */
}

/* Стилизация ссылок */
a {
  color: #0066FF; /* Синий цвет для ссылок */
  text-decoration: none; /* Убираем подчеркивание */
}

a:hover {
  text-decoration: underline; /* Подчеркивание при наведении на ссылку */
}

/* Стилизация даты последнего обновления */
strong {
  font-weight: bold;
}

/* Стилизация текста */
p {
  text-align: justify;
  margin-bottom: 10px; /* Расстояние между абзацами */
}

/* Стилизация списков и их элементов */
ul {
  margin-left: 20px; /* Отступ слева для списков */
}

/* Стилизация блока контактов */
h2 {
  color: #F31B5C;
  font-size: 20px;
  margin-top: 20px;
}

/* Стилизация контактной информации */
p {
  margin: 10px 0;
  font-size: 16px;
}

/* Стилизация примечания */
a#n1 {
  color: #FF6600;
  font-weight: bold;
}
.unicode-list li::before {
    content: "*"; /* Устанавливаем символ Unicode */&#9733
    margin-right: 10px; /* Расстояние между символом и текстом */
}
/* Стилизация ссылки для скачивания файла документации */
a[href*="text.txt"] {
  display: inline-block;
  background-color: #0066FF;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer; /* Изменяем вид курсора при наведении */
}
a[href*="text.txt"]:hover {
  background-color: #0033CC; /* Изменяем цвет при наведении */
}
</style>
<script src="{% static 'gym/js/1interactive.js' %}" defer></script>
<div align="justify">
 <h1>Политика конфиденциальности</h1>
    <a href="#n1">См.примечание в конце</a>
    <p><strong>Последнее обновление:</strong>09.09.2023</p>
    <p>Добро пожаловать в Legendary Gym. Нашей первоочередной задачей является защита конфиденциальности и безопасности ваших персональных данных. Мы стремимся обеспечить ваше доверие и с уважением относимся к вашей конфиденциальности. В этой Политике конфиденциальности мы поясняем, как мы собираем, используем, раскрываем и защищаем ваши персональные данные.</p>
    <h2>1. Сбор и использование информации</h2>
    <ul class="unicode-list">
        <li>&#9658;Мы можем собирать персональные данные, которые вы предоставляете нам, такие как имя, адрес электронной почты, номер телефона и другие контактные данные при регистрации или использовании наших услуг.</li>
        <li>&#9658;Мы можем собирать информацию о вашей активности на сайте или в приложении, такую как посещенные страницы, запросы и взаимодействия с функциями.</li>
        <li>&#9658;Мы можем использовать ваши персональные данные для предоставления наших услуг, улучшения пользовательского опыта, а также для связи с вами по важным вопросам.</li>
    </ul>
    <h2>2. Защита данных</h2>
    <ul class="unicode-list">
        <li>&#9658;Мы принимаем меры для защиты ваших персональных данных от несанкционированного доступа и использования.</li>
        <li>&#9658;Мы используем шифрование и другие технологии для обеспечения безопасности данных.</li>
    </ul>
    <h2>3. Раскрытие информации</h2>
    <ul class="unicode-list">
        <li>&#9658;Мы можем раскрывать ваши персональные данные третьим сторонам только в случаях, предусмотренных законом или с вашим согласием.</li>
        <li>&#9658;Мы можем делиться анонимизированной и агрегированной информацией для статистических целей.</li>
    </ul>
    <h2>4. Использование файлов cookie и технологий отслеживания</h2>
    <ul class="unicode-list">
        <li>&#9658;Мы можем использовать файлы cookie и другие технологии отслеживания для сбора информации о вашей активности на сайте или в приложении.</li>
        <li>&#9658;Вы можете управлять настройками файлов cookie и отключать их в вашем браузере.</li>
    </ul>
    <h2>5. Изменения в политике конфиденциальности</h2>
    <p>Мы можем время от времени обновлять нашу Политику конфиденциальности. Обновленная версия будет опубликована на этой странице.</p>

    <h2>6. Контакты</h2>
    <p>Если у вас есть вопросы или предложения по поводу нашей Политики конфиденциальности, свяжитесь с нами по адресу BSUIR 111.</p>

    <p>Мы рекомендуем вам регулярно проверять нашу Политику конфиденциальности, чтобы быть в курсе изменений. Ваше использование нашего сайта или приложения после внесения изменений в Политику конфиденциальности означает ваше согласие с этими изменениями.</p>
    <p><a id="n1">Это примечание</a></p>
    <a href="{% static 'text/text.txt' %}" download>Скачать файл документации</a>
    </div>
{% endblock %}