{% extends 'gym/base.html' %}
{% load static %}
{% block content %}
<div align="justify">
 <h1>Политика конфиденциальности</h1>
    <a href="#n1">См.примечание в конце</a>
    <p><strong>Последнее обновление:</strong>09.09.2023</p>
    <p>Добро пожаловать в Legendary Gym. Нашей первоочередной задачей является защита конфиденциальности и безопасности ваших персональных данных. Мы стремимся обеспечить ваше доверие и с уважением относимся к вашей конфиденциальности. В этой Политике конфиденциальности мы поясняем, как мы собираем, используем, раскрываем и защищаем ваши персональные данные.</p>
    <h2>1. Сбор и использование информации</h2>
    <ul>
        <li>Мы можем собирать персональные данные, которые вы предоставляете нам, такие как имя, адрес электронной почты, номер телефона и другие контактные данные при регистрации или использовании наших услуг.</li>
        <li>Мы можем собирать информацию о вашей активности на сайте или в приложении, такую как посещенные страницы, запросы и взаимодействия с функциями.</li>
        <li>Мы можем использовать ваши персональные данные для предоставления наших услуг, улучшения пользовательского опыта, а также для связи с вами по важным вопросам.</li>
    </ul>
    <h2>2. Защита данных</h2>
    <ul>
        <li>Мы принимаем меры для защиты ваших персональных данных от несанкционированного доступа и использования.</li>
        <li>Мы используем шифрование и другие технологии для обеспечения безопасности данных.</li>
    </ul>
    <h2>3. Раскрытие информации</h2>
    <ul>
        <li>Мы можем раскрывать ваши персональные данные третьим сторонам только в случаях, предусмотренных законом или с вашим согласием.</li>
        <li>Мы можем делиться анонимизированной и агрегированной информацией для статистических целей.</li>
    </ul>
    <h2>4. Использование файлов cookie и технологий отслеживания</h2>
    <ul>
        <li>Мы можем использовать файлы cookie и другие технологии отслеживания для сбора информации о вашей активности на сайте или в приложении.</li>
        <li>Вы можете управлять настройками файлов cookie и отключать их в вашем браузере.</li>
    </ul>
    <h2>5. Изменения в политике конфиденциальности</h2>
    <p>Мы можем время от времени обновлять нашу Политику конфиденциальности. Обновленная версия будет опубликована на этой странице.</p>

    <h2>6. Контакты</h2>
    <p>Если у вас есть вопросы или предложения по поводу нашей Политики конфиденциальности, свяжитесь с нами по адресу BSUIR 111.</p>

    <p>Мы рекомендуем вам регулярно проверять нашу Политику конфиденциальности, чтобы быть в курсе изменений. Ваше использование нашего сайта или приложения после внесения изменений в Политику конфиденциальности означает ваше согласие с этими изменениями.</p>
    <p><a id="n1">Это примечание</a></p>
    <a href="{% static 'text/text.txt' %}" download>Скачать файл документации</a>
    </div>
{% endblock %}